/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
/* Navbar */
header nav {
    background: #f85528;
    color: #f9efe5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav .logo a {
    text-decoration: none;
    color: #5b0004;
    font-size: 24px;
    font-weight: bold;
}

header nav .logo a span {
    color: #fff;
}

header nav .menu {
    list-style: none;
    display: flex;
}

header nav .menu li {
    display: inline;
    margin: 0 0 0 20px;

}

header nav .menu li a {
    color: #f9efe5;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

header nav .menu li a:hover {
    color: #5b0004;
}

/* Hamburger menu icon */
header nav .menu-icon {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* Estilos para o menu no mobile */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        justify-content: flex-start; /* Ajuste para que os itens fiquem alinhados ao topo */
        align-items: flex-start;
        padding: 20px;
        position: relative; /* Necessário para o ícone de menu ser posicionado no topo à direita */
    }

    header nav .logo a {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /* Menu */
    header nav .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: #f85528;
        text-align: center;
    }

    header nav .menu li {
        display: inline-block;
        margin:40px 0 0 10px;
        position: relative;
        font-size: 10px; 
    }
    
    header nav .menu li:not(:last-child)::after {
        content: "•"; /* Usando um marcador de ponto */
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff; /* Cor do marcador */
    }

    header nav .menu.active {
        display: block;
    }

    /* Ícone do menu */
    header nav .menu-icon {
        display: block;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        position: absolute; /* Posicionamento absoluto para o ícone */
        top: 20px; /* Distância do topo */
        right: 20px; /* Distância da direita */
    }

    header nav .menu li a {
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        padding: 25px 0;
        text-decoration: none;
    }

    header nav .menu li a:hover {
        background-color: #5b0004;
    }
}




/* Sessão Hero */
.hero {
    position: relative;
    height: 100vh;
    background-image: url(../img/FotoPesos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.hero-content span{
    color: #f85528;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #f85528;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.hero-content .btn-cta {
    padding: 10px 20px;
    background: #f9efe5;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition:  0.5s ease;
}
 
.hero-content .btn-cta:hover{
    background-color: #f85528;
    color: #fff;
    padding: 15px;
}

.album{
    padding: 50px 20px;
}

.album h2{
    text-align: center;
    color: #5b0004;
    margin: 0 0 40px 0;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.foto {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.foto:hover img {
    transform: scale(1.1); /* Efeito de aumento na imagem ao passar o mouse */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}

.contato{
    background-color: #fff;
    padding: 50px 20px;
}

.contato h2{
    text-align: center;
    color: #5b0004;
    font-size: 24px;
    margin-bottom: 40px;
}

/* Estilização do Formulário de Contato */
.contato form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.contato input, .contato textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.contato input:focus, .contato textarea:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: 0 0 4px rgba(216, 67, 8, 0.5);
}

.contato textarea {
    resize: vertical;
    min-height: 150px;
}

.contato button {
    padding: 12px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #5b0004;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contato button:hover {
    background-color: #5b0005e8;
}

/* Estilização do Botão de Scroll Up */
.scroll-up-btn {
    position: fixed;
    bottom: 100px;
    right: 28px;
    background-color: #5b0004;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-up-btn:hover {
    background-color: #5b0004;
    transform: scale(1.1);
}

/* Estilização do Botão WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    font-size:12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 3;
}

.whatsapp-button:hover {
    background-color: #25d366;
    transform: scale(1.1);
}

.whatsapp-button i {
    margin-right: 0;
    font-size: 40px;
}

.custom-scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%; /* Inicialmente 0% */
    height: 5px; /* Altura da barra */
    background-color: #f85528; /* Cor da barra */
    z-index: 1000;
    transition: width 0.1s ease-out; /* Animação para transição suave */
}

